@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  height: 100%;
  background-attachment: fixed; /* 背景を固定 */
}

a {
  color: #3994C1;
}

.pacifico {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.button-sky {
  padding: 0.5rem 1rem; /* px-4 py-2 */
  background-color: #38bdf8; /* bg-sky-400 */
  color: white; /* text-white */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.2s ease-in-out; /* transition */
}

.button-sky:hover {
  background-color: #0ea5e9; /* hover:bg-sky-500 */
}

.button-pink {
  padding: 0.5rem 1rem; /* px-4 py-2 */
  background-color: #ec4899; /* bg-pink-500 */
  color: white; /* text-white */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.2s ease-in-out; /* transition */
}

.button-pink:hover {
  background-color: #db2777; /* hover:bg-pink-600 */
}
